*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Lato, Lobster, Montserrat;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
}

.navbar {
  background: rgba(0,0,0,0.6);    
  min-height: 3.8rem;
  padding: 0;
}

.navbar a{
  text-decoration: none;
}

.navbar-brand{
  font-family: Montserrat;
  font-size: 2rem;
  letter-spacing: .2rem;
  font-weight: 600;  
  color: #fff; 
  padding-bottom: 0;
  user-select: none;
}

.alert{
  background: #64ddb6; 
  max-width: 30rem; 
  min-width: 25rem; 
  height: 4.5rem; 
  margin-top: 6.5rem; 
  float: right;
  border-radius: 4px;
  border-left: 4px solid  #209b67;
  display: flex;
  align-items: center; 
  margin-bottom: 0;
}

.show{
  animation: show_slide 0.8s ease forwards;
}

.alert-error{
  background: #fe7a7a;
  border-left: 4px solid #ec2300;
}

.hide-show{
  animation: hide_slide 0.8s ease forwards;
}

.alert.hide{
  display: none;
}


@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(0%);
  }  
}

@keyframes hide_slide {
  0%{
    transform: translateX(0%);
  }
  40%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }  
}

.alert .fa-check-circle{
  color: #209b67; 
  font-size: 30px;
  margin-right: 0.7rem;
  margin-left: -0.5rem;
}

.alert .fa-exclamation-circle{
  color: #eb1307; 
  font-size: 31px;
  margin-right: 0.7rem;
  margin-left: -0.5rem;
}

.alert .msg{
  margin-top: -1px;
  font-size: 1.1rem;  
  margin-right: 10%;
}

.alert .close-btn{   
  background: #44d7a7; 
  width: 13%;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-right: -1px;
  height: 4.5rem; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert .alert-error-btn{
  background: #ec2300
}

.close-btn:hover{
  background: #ffc766;
}

.web-center{
  position: relative;  
  overflow: hidden;
}

.background #bg {
  background-color: #334;
  background-size: cover;
}

.background{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.15);
}

.web-center-content{
  margin-top: 19rem;
  padding-bottom: 5vh;
}

.form-overflow{
  width: 40vw;
  margin: auto auto;
  overflow: hidden; 
}

.login-container{  
  width: 30vw;
  position: relative;
  margin: 0 auto;
}

.login-content{
  width: 100vw;  
  white-space: nowrap;  
}

.forms{
  width: 30vw;   
  margin-left: 0%;
  margin-right: 0%;
  display: inline-block; 
  vertical-align: top;
}

.form1{
  margin-top: 3rem;
}

.login-content .input-div{
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
margin-top: 0;
}

.input-div > div{
  position: relative;  
  height: 45px;  
}

.input-div > div > h5{
position: absolute;
left: 10px;
top: 50%;
transform: translateY(-50%);
color: #d7d7d7;
font-size: 1.1rem;
transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 1rem;
}

.input-div.focus > .i > i{
	color: #38d39f;
}

.input-div > div > input{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
border: none;
outline: none;
background: none;
padding: 0.5rem 0.7rem;
font-size: 1.2rem;
color: #fff;
}

.i{
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div small{
  color: #ff4242;
	position: absolute;
	bottom: 0;
	right: 8%;
  opacity: 0;
  pointer-events: none;
  transition: .2s;
}

.div.error small {
  opacity: 1;
}

.i-eye{
  color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 5px;
  transform: translateY(-50%);
  }
  
.i i{
transition: .3s;
}

.eye{
  cursor: pointer;
}

.btn2{
  display: block;
  width: 70%;
  padding: 11px 0px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin: 3rem auto;
  cursor: pointer;
  transition: .5s;
}
  
.btn2:hover{
  background-position: right;
}

.div #secondary {
  color: #ff4242;
	position: absolute;
	bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: .2s;
  margin: 0;
  position: absolute;
  top: -30%;
  left: 52%;
  transform: translate(-52%, -30%);  
  opacity: 0;
}

.div.cred-error #secondary {
  opacity: 1;
}

//////////////////////////


.col-md-8 {
  margin: 2rem auto 2rem;
  padding-top: 1rem;
}
.col-md-8 h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}

@media (max-width: 1600px) {
	.login-container{
		width: 35vw;
  }
  .btn2{
    width: 75%;
  }
  .forms{
    width: 35vw;
  }
  .form-overflow{
    width: 45vw;
  }
  .alert{
    // width: 22rem;
     height: 3.2rem;
     margin-top: 4.8rem;  
   }
   .alert .fa-check-circle{
     font-size: 28px;
   }
   .alert .msg{
     font-size: 0.95rem;
   }
   .alert .close-btn{
     height: 3.2rem;
   }
}

@media (max-width: 1300px) {
	.login-container{
		width: 42vw;
  }
  .forms{
    width: 42vw;
  }
  .form-overflow{
    width: 52vw;
  }
}

@media (max-width: 1000px) {
	.login-container{
		width: 50vw;
  }
  .forms{
    width: 50vw;
  }
  .form-overflow{
    width: 60vw;
  }
  .col-md-8 h1 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .video-background #video video {
    display: none;
  }
  .video-background #video {
    background-color: #334;
    background-size: cover;
  }
  .caption h1{
    font-size: 1.9rem;    
    letter-spacing: .15rem;   
    padding-bottom: .5rem;
    
  }   
  .btn{  
    font-size: 1rem;  
    padding: .5rem 1rem;  
  }
	.login-container{
		width: 60vw;
  }
  .forms{
    width: 60vw;
  }
  .form-overflow{
    width: 70vw;
  }
  .col-md-8 h1 {
    font-size: 1.7rem;
  }
  .div small{
    right: 0;
    margin-bottom: -2rem;   
   }
   .alert{
    max-width: 85vw;
    min-width: 20rem; 
    height: 3rem; 
  }
  .alert .msg{
    font-size: 0.9rem;
  }  
  .alert .fa-check-circle{
    font-size: 25px;
  }
  .alert .close-btn{
    font-size: 18px;
  }
  .alert .close-btn{
    height: 3rem;
  }
}

@media (max-width: 568px) {
  .toggle-btn-2, .toggle-btn{
    font-size: 0.98rem;
  }
  .login-container{
		width: 65vw;
  }
  .forms{
    width: 65vw;
  }
  .form-overflow{
    width: 75vw;
  }
  .navbar-brand{
    font-size: 1.6rem;
    letter-spacing: .1rem;
  }
}


